  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Information about Phitchaya Mangpo Phothilimthana.">
    <meta name="google-site-verification" content="8eiA4d5bmRl8pQVZPLUYlklvjz-ELf0PQW6MeDVXD3s" />
    <link rel="shortcut icon" type="image/x-icon" href="img/icon.png" />
    <link rel="stylesheet" href="/assets/css/mine.css">
    <link rel="stylesheet" href="/assets/css/art.css">
    <!-- FONT  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
