<!doctype html>
<html>
  {% include header.html %}
  <body>
    <header>
      <h1>Phitchaya Mangpo Phothilimthana</h1>
      {% include navigation.html %}
    </header>
    <main>
      <div class="contact">
	      <img src="img/mangpo.jpg" alt="Phitchaya Mangpo Phothilimthana">
	      <div>
	        <p>
	          <i class="fa fa-envelope big-icon"></i>
	          <span class="email">mangpo</span>
	          <br>
              <i class="fa fa-github big-icon"></i>
	            <a href="https://github.com/mangpo">GitHub</a>
	        </p>
	      </div>
      </div>

      <div>
	      {{ content }}
      </div>
    </main>
  </body>
  {% include footer.html %}
      
</html>
